* {
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

header {
    min-height: 20vh;
    max-width: 100vw;
    background-image: url('09w7dB-LogoMakr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #f2d9d5;
}

.Todo {
    display: flex;
}

.Principal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5px;
}

nav {
    max-width: 100vw;
    height: auto;
}

body {
    background: linear-gradient(180deg, rgba(242, 217, 213, 1) 0%, rgba(242, 217, 213, 1) 26%, rgba(255, 153, 136, 1) 59%, rgba(0, 0, 0, 1) 90%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    display: inline-block;
    background: linear-gradient(to bottom right, #ef5b47, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    outline: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-weight: 400;
}

section {
    flex: 1;
}

aside {
    display: flex;
    width: auto;
    height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 5px ridge #f2d9d5;
    border-right: 5px groove #f2d9d5;
    border-bottom: 5px groove #f2d9d5;
    border-left: 5px ridge #f2d9d5;
    background: rgba(242, 217, 213, 0.41);
    box-shadow: inset 0px 0px 48px 7px rgba(56, 52, 51, 0.54);
}

main {
    display: flex;
    flex: 1;
    max-width: 100vw;
}

form input {
    margin-bottom: 8px;
}

form label {
    margin-bottom: 5px;
}

#Success {
    color: white;
    background-color: rgb(91, 184, 91);
    height: 30px;
    border-radius: 2px;
    border-style: none;
}

footer {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(0, 0, 0);
}

footer p {
    color: #f2d9d5;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

.tooltip{
    position: relative;
}
.tooltip:hover .tooltipcuadro{
    visibility: visible;
}
.tooltipcuadro{
    visibility: hidden;
    position: absolute;
    bottom: -50px;
    left: -45px;
    width: max-content;
    height: max-content;
    padding: 10px;
    background: linear-gradient(to bottom right, #ff9e8f, #f3ab7e);
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: 600;
    border-radius: 18px;
    transition: 200ms;
}
#recordar:hover{
    color:#ef5b47;
}
a{
    text-decoration: none;
    color: white;
}
.imagenes{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.fotos {
    background-color:white;
    padding:10px 10px 40px 10px;
    border:1px solid white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    transition: 1s;
    filter: blur(2px);
}
.fotos:hover{
    transform: scale(1.1);
    filter:none;
}
